@model List<lab03.Models.MovieModel>;
@{
  ViewData["Title"] = "Movies";
}

<h1>@ViewBag.main_title</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Movie title</th>
        <th>Genre</th>
        <th>Release Date</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.name</td>
          <td>@item.genre</td>
          <td>@item.release_date</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div>
  <button>I am a button</button>
</div>
